.film-list {

  margin-top: 50px;

  .price {
    text-align: right;
  }

  .vis {
    text-align: center;

    &.true  { color: green; }
    &.false { color: red; }
  }
  
  table {
    
    tr:first-of-type {
      background: $own_admin_list_header_bg;
    }
    
    th {
      text-align: center;
    }
    
  }
}