header {
  background: rgba(0,0,0,.5);
  min-height: 200px;
  position: relative;

  &:before {
    content: '';
    background: black url(images/top3.jpg) center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  h1 {
    font-weight: normal;
    margin: 80px 0 0 0;
    color: #ffc242;
    text-shadow: 1px 1px 3px rgba(58, 52, 45, 1);
  }

  .navbar {
    background: $own_navbar-gradient;
    border: none;
    position: relative;
    bottom: -31px;
    left: 0;
    right: 0;
    margin: auto;

    .navbar-toggle {
      border: 1px solid $own_nav_text;
      
      &:hover {
        background: rgba(255,255,255,.3);
      }
      
      .icon-bar {
        background: $own_nav_text;
      }
      
    }

  }

}