.navbar {
  border-radius: 0;
}

.nav {
  > li {
    > a {  
      color: black;
      
      &:hover,
      &:focus {
        background: transparent;
        color: $own_main_highlight_darker;
      }
    }
    
    &.active > a {
      color: black;
      background: $own_nav-bg-gradient;
      
      &:hover,
      &:focus {
        color: white;
      }
    }
  }
}

.genres {
  > li {
    > a { 
      color: $own_nav_text;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 0;
    }

    &.active > a {
      background: $own_nav-bg-gradient;
    }
  }
}

.nav-stacked {
  > li {
    > a {
      text-align: left;
      margin-left: 1em;
    }
  }
}