
// nav
$own_nav-bg-gradient: linear-gradient(to bottom, #ffd685 0%, #ffc042 50%, #ffb41e 100%);
$own_nav-color: #cccccc;

// navbar
$own_navbar-gradient: linear-gradient(to bottom, #75695b 0%, #3a342d 50%, #24201c 100%);

// well
$own_well-gardient: linear-gradient(to bottom, #fefefe 0%, #f8f8f8 100%);